# Node modules
/node_modules

# Build outputs
/build
/dist

# Electron build output
/*.asar
*.exe
*.dmg
*.AppImage
*.snap

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & System files
.DS_Store
.vscode/
Thumbs.db

# Testing
/coverage

# Environment variables
.env
.env.*.local

# Misc
.pnp
.pnp.js

# Tailwind cache
.tailwind*

# Electron Packager cache
*.tgz
*.nupkg
*.blockmap

# Windows Installer junk
*.msi
*.tmp
*.bak

# Mac specific
*.DS_Store

# GitHub Desktop backup
*.orig
